body {
  margin: 0;
  padding: 0;
  width: 375px;
  overflow-x: hidden;
}

/* Nav-bar styles */
header {
  background-color: #3e3c3c;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Logo {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', serif;
}

.nav-image {
  padding: 8px;
  width: 40px;
  height: 40px;
}

.nav-links {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.Multipost-sec h1 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  margin-bottom: 0;
}

.card-content h1 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  margin-bottom: 0;
  line-height: 44px;
  padding-left: 20px;
}

.card-content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-top: 0;
  width: 250px;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
}

/* main-sec styles */
#intro {
  text-align: left;
  background-color: #1c1a19;
  background-image: url("./Images/Headlineillustration.png");
  background-position: 235px 400px;
  background-repeat: no-repeat;
  background-size: 261.83px 280.89px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-bottom: 100px;
}

#intro h1 {
  color: #f55800;
  font-size: 56px;
  font-weight: 400pc;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
}

#intro h3 {
  color: white;
  font-size: 24px;
  font-weight: 700px;
  line-height: 32px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

#intro p {
  color: white;
  width: 327px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}

#social-icons {
  display: flex;
  gap: 15px;
  width: 200px;
  height: 40px;
}

.last-icons img {
  padding-right: 20px;
  width: 24px;
  height: 24px;
}

#social-icons img {
  width: 24px;
  height: 24px;
}

#social-icons img:hover {
  transform: scale(1.1);
}

/* work-sec styles */
#work {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-heading {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
}

.Multipost-sec {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 327px;
  height: 307px;
  gap: 12px;
}

/* project-sec styles */
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  float: left;
  border-style: solid;
  border-color: #8993a4;
  padding: 5px;
  margin-right: 12px;
  font-family: 'Inter', serif;
}

.seeproject-button {
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  border: none;
  padding: 12px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.horizontal-line {
  width: 80%;
  margin-bottom: 80px;
}

.project1 {
  width: 327px;
  height: 237px;
  margin-left: 20px;
}

#projects {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.container {
  display: grid;
  grid-template-columns: 100%;
}

.card {
  background: url('./Images/projectsImage.png') no-repeat center;
  background-size: 327px 386px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
}

.card-content div {
  padding-left: 20px;
}

.card-content a {
  margin-left: 9px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  color: white;
  padding: 10px 15px;
  border-radius: 0;
  font-size: 14px;
  background: #ffffff3d;
}

.projectButton {
  background: #ff6b00;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  width: 295px;
  margin-top: 20px;
}

/* aboutme-sec styles */

#about-me {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  height: 563px;
  top: 4137px;
  padding: 120px 24px 120px 24px;
}

#about-me h1 {
  font-family: "Crete Round", sans-serif;
  margin-top: 0;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 0;
}

#about-me p {
  width: 310px;
  height: 148px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.getmyresume-button {
  background-color: #ff6b00;
  width: 156px;
  height: 48px;
  border: none;
  padding: 12px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.img-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 350px;
}

.aboutme-img {
  height: 270px;
  width: 200px;
}

.aboutme-horizontal-line {
  width: 85%;
  color: white;
}

#skills {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  justify-content: center;
  align-items: center;
}

#skills h1 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.list-item {
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 18px;
}

#skills ul {
  padding: 0;
  width: 260px;
  height: 48px;
  padding-bottom: 150px;
}

.skill-icon {
  width: 18px;
  height: 18px;
  display: block;
  padding-right: 10px;
}

.skills-headers {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact me-sec styles */
#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-heading {
  width: 280px;
  padding-top: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  line-height: 30px;
}

input {
  border-width: 0;
  border-bottom: 1px solid #ddd;
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

textarea {
  width: 300px;
  padding: 10px;
  border: 0;
  font-size: 16px;
  outline: none;
  background-color: #fbf8f7;
  font-family: "Inter", sans-serif;
}

textarea:focus {
  border-color: #ff4500;
}

.submit-btn {
  background: #ff6b00;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  width: 131px;
  margin-left: 8px;
  border: 0;
  margin-top: 20px;
}

.last-hr {
  width: 100%;
  color: #dfe1e6;
}

/* footer */
.last-icons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
